//colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$orange: #ff9300;

//media 1920 - 1440; 1440-1024;1024-760; 760; 320
$width_l: 1640px;
$width_m: 1024px;
$width_s: 780px;
$width_xs: 580px;

$height_l: 900px;
$height_m: 720px;


/*
Light 300
Regular 400
Medium 500
Bold 700
*/

.container {
  margin: 0 auto;

  max-width: 70%;
  width: 100%;

  @media (max-width: $width_l) {
    max-width: 80%;
  }

  @media (max-width: $width_m) {
    max-width: 90%;
  }

  @media (max-width: $width_s) {
    max-width: 95%;
  }


  &--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  color: $orange;

  font-size: 340%;
  font-weight: bold;
  text-transform: uppercase;

  span {
    color: $white;
  }
}

.icon {
  width: 30px;
  height: 30px;

  fill: white;

  &:hover {
    fill: $orange;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 0;

  max-width: 314px;

  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  color: $black;
  text-align: center;

  cursor: pointer;
  background: $orange;

  &:hover {
    box-shadow: 0 0 10px $white;
  }

  &--sending {
    padding: 0;
    background-color: transparent;
    font-size: 0;
    color: $orange;

    cursor: default;
    outline: 0;

    &:hover {
      box-shadow: none;
    }

    &:after {
      content: '. . . . . Отправка . . . . .';
      font-size: 1rem;
      font-style: italic;
      font-weight: 300;

      animation: buffer 2s linear infinite;
    }
  }

  &--sent {
    padding: 0;
    background-color: transparent;

    font-size: 1rem;
    font-style: italic;
    font-weight: 300;

    cursor: default;
    color: $orange;
    outline: 0;

    &:hover {
      box-shadow: none;
    }
  }
}

@keyframes buffer {
  0% {
    color: transparent;
  }

  50% {
    color: $orange;
  }

  100% {
    color: transparent;
  }
}

.switches {
  &__button {
    margin: 0 1rem;

    height: 12px;
    width: 12px;

    border-radius: 50%;
    background-color: rgba($black, 0.5);

    &:checked {
      background: $orange;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $white;

  &__header {
    margin-bottom: 2.5rem;
  }

  .form-header {
    text-align: center;

    &__main {
      margin-bottom: 0.5rem;
      font-size: 225%;
      font-weight: 700;
    }

    &__mark {
      font-size: 1rem;
      font-weight: 500;
      font-style: italic;
    }
  }

  &__input {
    margin-bottom: 0.75rem;
    padding: 0.75rem;

    max-width: 450px;
    width: 100%;

    border: none;
    border-bottom: 2px solid $orange;
    background: none;

    font-family: Roboto;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  &__button {
    margin-top: 1.5rem;

    width: 100%;
  }
}