<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
  <meta name="keywords" content="Ремонт, отделка, монтаж, демонтаж, Эльфель, elfel, elfel.ru, сварка, укладка, плитки, плитка, кафель, ламинат, квартир, квартира, офис, офисов, помещений, комнаты, комнат">
  <meta name="description" content="Качественные услуги по ремонту и отделке в Томске. Поможем решить Вам любые задачи">
  <meta name="google-site-verification" content="roQ6sVfYxexwLbRtwbm8mJUMH89GQrjXzwc1VZsigi0" />
  <meta name="yandex-verification" content="bbc1da67beac95b7" />
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Эльфель</title>
  <link rel='icon' href='/favicon.svg' sizes='16x16'>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
<script src="/jquery.js"></script>
<script src="/jquery.inputmask.js"></script>
<script src="/inputmask.binding.js"></script>
<main class='main'>
  <header class='header'>
    <div class='header__content container'>
      <div class='header__logo'>
        <a class='logo' href='/'>
          <h1>Эль<span>фель</span></h1>
        </a>
        <p class='header__hint hint'>Более 200 реализованных проектов</p>
      </div>

      <div class='header__phone'>
        <p class='hint'>Приём заявок без перерывов и выходных</p>
        <a href='tel:+79969383396' class='link'>
          +7 (996) 938-33-96
        </a>
      </div>
    </div>
  </header>
  <div class='container--flex-column container'>
    <div class='main__header'>
      <h3 class='main__header--second'>в Томске и области</h3>
      <h2 class='main__header--first'>Ремонт и отделка квартир под ключ</h2>
      <h3 class='main__header--mark'>Без предоплаты. В короткие сроки</h3>
    </div>

    <div class='main__info'>
      <div class='main-info'>
        <div class='main-info__ad'>
          <div class='main-info-ad'>
            <p class='main-info-ad__name'>Укладка плитки</p>
            <p class='main-info-ad__price'>от 700 руб/м2</p>
          </div>

          <!--<div class='switches'>
            <input class='switches__button' type='radio' id='1' name='ad' value='1' checked>
            <input class='switches__button' type='radio' id='2' name='ad' value='2'>
            <input class='switches__button' type='radio' id='3' name='ad' value='3'>
            <input class='switches__button' type='radio' id='4' name='ad' value='4'>
          </div>-->
        </div>
        <form class='main-info__form form'>
          <div class='form__header form-header'>
            <p class='form-header__main'>Оставьте заявку</p>
            <p class='form-header__mark'>на бесплатный выезд замерщика и расчет сметы</p>
          </div>

          <input type='text' class='form__input' placeholder='Ваше имя' pattern="^[А-Яа-яЁёA-Za-z\s]+$" required>
          <input type='tel' class='form__input' placeholder='Номер телефона' data-inputmask="'mask': '+7 ( 999 ) 999 - 99 - 99'" pattern="\+7\s\(\s[0-9]{3}\s\)\s[0-9]{3}\s-\s[0-9]{2}\s-\s[0-9]{2}" required>

          <!--<input class='form__button button' type='submit' value='Отправить'>-->
          <button class='form__button button' type='submit'>Отправить</button>
        </form>
      </div>
    </div>

    <!--<div class='main__content'>
        <ul class='main-content__list'>
            <li class='main-content__item text-regular'>Гарантия</li>
            <li class='main-content__item text-regular'>Бесплатный расчет стоимости</li>
            <li class='main-content__item text-regular'>Поэтапная оплата</li>
            <li class='main-content__item text-regular'>Официальный договор</li>
        </ul>
    </div>-->
  </div>
</main>
<section class="container">
  <ul class="">
    <li>
      <svg>
        <use xlink:href="/images/sprite.svg#contract"></use>
      </svg>
      <p>Официальный договор</p>
      <p>Чётко сделуем плану и берем ответственность за все выполненные работы</p>
    </li>
    <li>
      <svg>
        <use xlink:href="/images/sprite.svg#success"></use>
      </svg>
      <p>Индивидуальный подход</p>
      <p>Готовы помочь с выбором, покупкой и доставкой материалов</p>
    </li>
    <li>
      <p>Ежедневный фотоочёт</p>
      <p>Присылаем фото и видео нашей работы</p>
    </li>
    <li>
      <p>Поэтапная оплата</p>
      <p>Пока не принят текущий этап, следующий начат не будет</p>
    </li>
    <li>
      <p>Гарантия</p>
      <p>Даём гарантию на все выполненные работы</p>
    </li>
  </ul>
</section>
<script src='/javascripts/form.js'></script>
</body>
</html>