//colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$orange: #ff9300;

//media 1920 - 1440; 1440-1024;1024-760; 760; 320
$width_l: 1640px;
$width_m: 1024px;
$width_s: 780px;
$width_xs: 580px;

$height_l: 900px;
$height_m: 720px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin responsiveText($minSize: $font-size, $maxSize: 28px, $minWidth: 420px, $maxWidth: 980px) {
  $mxS: strip-unit($maxSize);
  $mnS: strip-unit($minSize);
  $mxW: strip-unit($maxWidth);
  $mnW: strip-unit($minWidth);

  font-size: calc(#{$minSize} + (#{$mxS} - #{$mnS}) * (100vw - #{$minWidth}) / (#{$mxW} - #{$mnW}));

  @media screen and (max-width: $minWidth) {
    font-size: $minSize;
  }

  @media screen and (min-width: $maxWidth) {
    font-size: $maxSize;
  }
}


/*
Light 300
Regular 400
Medium 500
Bold 700
*/

.title {
  margin-bottom: 60px;
  @include responsiveText(24px, 36px);
}

b {
  font-weight: 500;
}

.container {
  margin: 0 auto;

  max-width: 70%;
  width: 100%;

  @media (max-width: 1600px) {
    max-width: 80%;
  }

  @media (max-width: 1300px) {
    max-width: 90%;
  }

  @media (max-width: $width_s) {
    max-width: 95%;
  }


  &--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  color: $orange;

  @include responsiveText(36px, 40px);
  font-weight: bold;
  text-transform: uppercase;

  span {
    color: $white;
  }
}

.hint {
  @include responsiveText(12px, 14px);
  color: rgba($white, 0.5);
}

.icon {
  width: 30px;
  height: 30px;

  fill: white;

  &:hover {
    fill: $orange;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 0;

  max-width: 250px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: $black;
  text-align: center;

  cursor: pointer;
  background: $orange;

  &:hover {
    box-shadow: 0 0 10px $white;
  }

  &--sending {
    padding: 0;
    background-color: transparent;
    font-size: 0;
    color: $orange;

    cursor: default;
    outline: 0;

    &:hover {
      box-shadow: none;
    }

    &:after {
      content: '. . . . . Отправка . . . . .';
      font-size: 1rem;
      font-style: italic;
      font-weight: 300;

      animation: buffer 2s linear infinite;
    }
  }

  &--sent {
    padding: 0;
    background-color: transparent;

    font-size: 1rem;
    font-style: italic;
    font-weight: 300;

    cursor: default;
    color: $orange;
    outline: 0;

    &:hover {
      box-shadow: none;
    }
  }
}

@keyframes buffer {
  0% {
    color: transparent;
  }

  50% {
    color: $orange;
  }

  100% {
    color: transparent;
  }
}

.switches {
  &__button {
    margin: 0 1rem;

    height: 12px;
    width: 12px;

    border-radius: 50%;
    background-color: rgba($black, 0.5);

    &:checked {
      background: $orange;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $white;

  &__header {
    margin-bottom: 40px;
  }

  .form-header {
    text-align: center;

    &__main {
      margin-bottom: 8px;
      @include responsiveText(18px, 30px);
      font-weight: 700;
    }

    &__mark {
      @include responsiveText(14px, 14px);
      font-style: italic;
    }
  }

  &__input {
    margin-bottom: 24px;
    padding: 12px 0;

    max-width: 395px;
    width: 100%;

    border: none;
    border-bottom: 2px solid $orange;
    background: none;

    font-size: 16px;
    font-family: Roboto;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  &__button {
    margin-top: 40px;

    width: 100%;
    min-height: 40px;
  }
}
